	



	p, ol, ul
	{
		margin-top: 0;
	}
	
	ol, ul
	{
		padding: 0;
		list-style: none;
	}
	
	p
	{
		line-height: 180%;
	}
	
	
	a
	{
		color: #2056ac;
	}
	
	a:hover
	{
		text-decoration: #8dc3c7;
	}
	

	.container
	{
		margin: 0px auto;
		width: 1200px;
	}
	



/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header-wrapper
	{
		overflow: hidden;
		background: #568bed;
	}

	#header
	{
		text-align: center;
	}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

	#logo
	{
		padding: 0em 0em 1em 0em;
	}
	
	#logo h1
	{
		display: block;
		margin-bottom: 0.10em;
		padding: 0.20em 0.9em;
		font-size: 3.0em;
	}
	
	#logo a
	{
		text-decoration: none;
		color: #FFF;
	}
	
	

/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/

	#menu
	{
		height: 60px;
	}
	
	#menu ul
	{
		display: inline-block;
		padding: 0em 2em;
		text-align: center;
	}
	
	#menu li
	{
		display: inline-block;
	}
	
	#menu li a, #menu li span
	{
		display: inline-block;
		padding: 0em 1.5em;
		text-decoration: none;
		font-size: 0.90em;
		font-weight: 600;
		text-transform: uppercase;
		line-height: 60px;
		outline: 0;
		color: #FFF;
	}
	
	#menu li:hover a, #menu li.active a, #menu li.active span
	{
		background: #FFF;
		border-radius: 7px 7px 0px 0px;
		color: #2056ac;
	}
	
	#menu .current_page_item a
	{
	}
	

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

	#banner
	{
		padding-top: 6em;
	}

/*********************************************************************************/
/* Wrapper                                                                       */
/*********************************************************************************/


	.wrapper
	{
		overflow: hidden;
		padding: 0em 0em 5em 0em;
		background: #EDEDED;
	}

	#wrapper1
	{
		background: #4C93B9;
	}

	#wrapper2
	{
		overflow: hidden;
		background: #4C93B9;
		padding: 5em 0em;
		text-align: center;
	}

	

/*********************************************************************************/
/* Welcome                                                                       */
/*********************************************************************************/

	#welcome
	{
		overflow: hidden;
		width: 1000px;
		padding: 6em 100px 0em 100px;
		text-align: center;
	}
	
	#welcome .content
	{
		padding: 0em 8em;
	}
	
#aboutus{
        background-color: #ededed;
        overflow: hidden;
		width: 1000px;
		padding: 0em 10.4em;
        text-align: left;
}



/*********************************************************************************/
/* Newsletter                                                                    */
/*********************************************************************************/

	#newsletter
	{

		padding: 8em 0em;
		background: #EDEDED;
		text-align: center;
	}
	
	#newsletter .title h2
	{
		color: rgba(0,0,0,0.8);
	}
	
	#newsletter .content
	{
		width: 600px;
		margin: 0px auto;
	}
	
/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

	
	#copyright
	{
		letter-spacing: 1px;
		font-size: 0.90em;
		color: rgba(31, 85, 173, 0.67);
        text-align: center;
        padding-top: 5em;
	}
	
#form1{
    background-color: #5875d6;
    text-align: left;
    display: inline-block;
    padding: 4em 2em 4em 2em;
    margin: 4em;
    
}

